/.gradle
/gradle
/lib

/com.danikula.aibolit/bin/*
/com.danikula.aibolit/gen/*
/com.danikula.aibolit/.settings
/com.danikula.aibolit/.classpath
/com.danikula.aibolit/.project
/com.danikula.aibolit/build

/com.danikula.aibolit-sample/bin/*
/com.danikula.aibolit-sample/gen/*
/com.danikula.aibolit-sample/.settings


